// Style the input
.input-container {
  height: 100%;
  position: relative;
}
.input {
  height: 100%;
  width: 100%;
  padding: 25px 16px 10px;
  border-radius: 8px;
  border: 1px solid map-get($colors, "dark-50");
  color: $input-text-color;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;

  &_simple {
    border: none;
    border-radius: 0 8px 8px 0;
  }

  //Hover state
  &:hover {
    border-color: darken($input-border-color, 10%);
  }

  // Focus state
  &:focus {
    border-color: map-get($colors, "light-blue");
    box-shadow: 0 0 5px lighten(map-get($colors, "light-blue"), 20%);
  }

  // Disabled state
  &:disabled {
    background-color: lighten($input-background, 20%);
    border-color: lighten($input-border-color, 20%);
    cursor: not-allowed;
  }

  // Error state
  &.error {
    border-color: $input-error-color;
    background-color: lighten($input-error-color, 40%);
    color: darken($input-error-color, 20%);
  }

  // Placeholder text
  &::placeholder {
    color: lighten($input-text-color, 30%);
    opacity: 1; // Fix for older browsers
  }
}

.input-container .input-label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: map-get($colors, "dark-50");
  pointer-events: none;
  transition: 0.3s ease all;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}