.stepper-mobile {
  &__icon {
    font-size: 24px;
    color: map-get($colors, "purple-pastel");
  }

  &__text {
    font-size: 10px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0.8px;
  }

  &__progress {
    width: calc(100% - 135px);
    height: 6px;
    border-radius: 20px;
    background-color: map-get($colors, "purple-light");
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    &::after {
      content: "";
      height: 100%;
      width: 10px;
      display: block;
      background-color: map-get($colors, "purple-dark");
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
    }
  }
}
