//Home

.home-container{
  border-bottom: 1px solid map-get($colors, "purple-light");
}

.home-info_mobile{
  display: flex;;
}

.home__title{
  font-size: 28px;
  font-weight: 700;
}

.home__image {
  width: 136px;
  height: 160px;
  border-radius: 16px;
  display: flex;
  justify-content: center;

  &-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
}

@include respond-to("lg") {
  .home-container{
    border: none;
  }
  .home-info_mobile{
    display: none;
  }
  .home__image{
    width: 100%;
    height: 100%;
  }
}