//Home
.home-container {
  border-bottom: 1px solid map-get($colors, "purple-light");
}

.home-info {
  display: none;
  gap: 10px;
  justify-content: space-between;
  &__form {
    padding: 0 0 0 10%;
  }
  &_mobile {
    display: flex;
    flex-direction: column;
  }
}

.home__title {
  font-size: 28px;
  font-weight: 700;
}

.home__image {
  width: 136px;
  height: 160px;
  border-radius: 16px;
  display: flex;
  justify-content: center;

  &-container {
    display: flex;
    justify-content: center;
  }
}

@include respond-to("md") {
  .home-info {
    display: flex;
    flex-direction: column;
    &_mobile {
      display: none;
    }
  }
  .home-container {
    border: none;
  }

  .home__image {
    width: 380px;
    height: 100%;
  }
}

@include respond-to("lg") {
}
