.wrapper-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  &__content {
    flex: 1;
    display: flex;
    padding: 20px 0;
    align-items: center;
    main {
      margin: 0 20px;
    }
  }
}

.left-blur {
  /* blur-asset */
  position: fixed;
  width: 432px;
  left: -14%;
  bottom: -50%;
  z-index: -1;
  height: 100%;
}

.right-blur {
  /* blur-asset */
  position: fixed;
  width: 432px;
  right: -14%;
  top: -70%;
  z-index: -1;
  height: 100%;
}

@include respond-to("lg") {
  .wrapper-container {
    &__content {
      main {
        margin: 0;
      }
    }
  }
  .left-blur {
    top: 0;
    left: -8%;
  }
  .right-blur {
    top: 0;
    right: -8%;
  }
}

@include respond-to("xl2") {
  .left-blur {
    left: -5%;
  }
  .right-blur {
    right: -5%;
  }
}

@include respond-to("xl3") {
  .left-blur {
    left: 0;
  }
  .right-blur {
    right: 0;
  }
}
