.embla {
  max-width: calc(100% - 32px);

  &__viewport {
    overflow: hidden;
  }

  &__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    gap: 16px;
  }

  &__slide {
    flex: 0 0 auto;
    min-width: 0;
    max-width: 100%;
    transform: translate3d(0, 0, 0);
  }
}
