body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  margin-bottom: calc($spacer / 2);
  line-height: 1.2;
}

a {
  color: map-get($colors, "primary");
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
  background-color: map-get($colors, "primary");
  color: map-get($colors, "white");
}
