// Clases para columnas
@for $i from 1 through 12 {
  .col-#{$i} {
    @include make-col($i);
  }
}

// Clases responsivas para columnas
@each $breakpoint, $value in $breakpoints {
  @for $i from 1 through 12 {
    .col-#{$breakpoint}-#{$i} {
      @include respond-to($breakpoint) {
        @include make-col($i);
      }
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;

  // Anchos máximos del contenedor basado en breakpoints
  @each $breakpoint, $max-width in $container-max-widths {
    @include respond-to($breakpoint) {
      max-width: $max-width;
    }
  }
}
