// Mixin para Breakpoints
@mixin respond-to($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);
  @if $breakpoint-value != null {
    @media (min-width: $breakpoint-value) {
      @content;
    }
  }
}

// Mixin para aplicar sombras
@mixin box-shadow($x: 0, $y: 0, $blur: 10px, $color: rgba(0, 0, 0, 0.15)) {
  box-shadow: $x $y $blur $color;
}

// Mixin para Flexbox
@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

// Mixin para columnas
@mixin make-col($columns) {
  width: calc($columns / $grid-columns * 100%);
}

// Mixin para gap
@mixin make-gap($item) {
  gap: calc($spacer/2 * $item);
}

// Mixin para height
@mixin make-height($item) {
  height: calc($spacer/2 * $item);
}

// Mixin para espaciado
@mixin make-space($item) {
}
