// Variables de colores
$colors: (
  "primary": #ff1c44,
  "secondary": #2b304e,
  "purple-light": #ccd1ee,
  "dark": #03050f,
  "white": #ffffff,
  "green-100": #00f4e2,
  "green-200": #00ff7f,
);
$text-color: map-get($colors, "dark");
$background-color: #fafbff;

// Tipografía
$font-family-base: "Open Sans", "sans-serif";
$font-size-base: 16px;

// Espaciado
$spacer: 1rem;

// Grid
$grid-columns: 12;

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1440px,
  3xl: 1950px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);
