.plans-option-back {
  display: none;
  align-items: center;
  gap: 8px;
  color: map-get($colors, "purple-dark");

  &__icon {
    font-size: 20px;
  }

  &__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4px;
  }

  @include respond-to(md) {
    display: inline-flex;
  }
}
