.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px 30px;

  &__logo {
    width: 60px;
  }
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: map-get($colors, "dark");
  &__info_optional {
    display: none;
  }
}

@include respond-to("lg") {
  .header-container {
    padding: 20px 40px;
  }
  .header-contact__info_optional {
    display: block;
  }
}
