.plan-options {
  margin-top: 32px;
  padding-left: 16px;
  padding-right: 16px;

  &-action {
    display: none;
    align-items: center;
    gap: 8px;
    color: map-get($colors, "purple-dark");

    &__icon {
      font-size: 20px;
    }

    &__text {
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.4px;
    }

    @include respond-to(md) {
      display: inline-flex;
    }
  }

  &-content {
    max-width: 544px;
    width: auto;
    min-width: 336px;
    margin: 0 auto;

    &__title {
      font-size: 28px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: -0.2px;
    }

    &__subtitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.1px;
    }
  }

  @include respond-to(md) {
    margin-top: 40px;
    padding-left: 0;
    padding-right: 0;

    &-content {
      margin-top: 56px;

      &__title {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.6px;
        text-align: center;
      }

      &__subtitle {
        text-align: center;
      }
    }
  }
}
